- provide(:title, "Sign Up")
- provide(:button_text, "Create account")
- provide(:url_path, signup_path)
.container
	%h1.text-center Logo here
	%h1.text-center Sign Up
	.text-center
		= render 'user_form'
	%p.text-center
		Have an account? #{link_to "Log in", login_path}.
