<div>
	<%= label_tag 'app_title_label', yield :app_title %>
	<%= button_tag yield :app_button_one_name, yield :app_button_one_content %>
	<%= button_tag yield :app_button_two_name, yield :app_button_two_content %>
</div>